/****************************************************/
body{
	width: 900px;
	margin: 10px auto;
}
.header{
	width: 900px;
	height: 70px;
	float: left;
}

.logo{
	height: 70px;
	width: 600px;
	float: left;
}
.logo a{
	font-family: tahoma; 
	font-size: 2.5em;
	
}
.login{
	height: 50px;
	width: 300px;
	float: right;
	text-align: center;
	margin-top: 20px;
}
.login a{
	color: #039CFB;
	text-decoration: none;
	font-size: 1.1em;
}
/* --------style register----------- */

.signup{
	background-color: #33383B;
	margin: 70px auto;
	width: 400px;
}

.contentSignup{
	width: 400px;
	background-color:#EEEEEE;
	text-align:center;
	border: solid 5px #039CFB;
	border-radius: 13px;
}
.contentSignup a{
	color: #A6A6A6;
}
.titleSignup{
	font-size: 1.5em;
	padding-top: 20px; 
}
.personalInfo, .accountInfo{
	width: 300px;
	border-top: 1px #ccc solid;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 10px;
	margin: 20px auto;
}
.item{
	margin-top: 15px;
	height: 25px;
	width: 290px;
	padding: 5px;
}

.btnSignup{
	height: 40px;
	width: 120px;
	background-color: #27AE5F;
	margin-bottom: 20px;
	border: none;
	color: white;
}

/****************** style login and register form **********************/
#login_form, #register_form{
	width: 400px;
	background-color:#EEEEEE;
	text-align:center;
	border: solid 5px #039CFB;
	border-radius: 13px;
	margin-left: 18%;
	position:absolute; 
	z-index:10; 
	display: none;
}

#login_form:target, #login_form:target + #cover, #register_form:target, #register_form:target+#cover{ 
	display:block; 
	opacity:2; 
}

#login_form a, #register_form a{
	color: #A6A6A6;
}

.cancel { 
	display:block; 
	position:absolute;  
	right: -10px;
	top: -10px;
	background: rgba(0, 0, 0, 0.8); 
	color:white; 
	height:30px;
	width:30px;
	border-radius: 15px;
	font-size:30px; 
	text-decoration:none; 
	text-align:center; 
	font-weight:bold; 
}
#cover{ 
		position:fixed; 
		top:0; 
		left:0; 
		background:rgba(0,0,0,0.6); 
		z-index:5; width:100%; 
		height:100%; 
		display:none; 
}



/*********** style menu ********************/
.menu{
	height: 40px;
	width: 900px;
	background-color: #242424;
	float: left;
}

.main_menu {
	list-style: none;
	text-align: center;
	float: left;
}

.main_menu li{
	float: left;
	position: relative;
	width: 100px;
	height: 30px;
	margin-top: -16px;
	padding-top: 10px;
}
.main_menu li a{
	color: white;
	text-decoration: none;
}
.main_menu li:hover{
	background-color: #039CFB;
}
.main_menu li a:hover{
	color: #242424;
}
.main_menu ul{
	list-style:none;
	position: relative;
	text-align: left;
	padding: 0;
	margin:0;
}

.main_menu li ul {
	display: none;
	position: absolute;
	padding: 0;
	margin-top:13px;
}

.main_menu ul li{
	margin-top: 0px;
	width: 150px;
	background-color: #039CFB;
}
.main_menu ul li a{
	margin-left: 30px;
}
.main_menu li:hover ul.sub_menu{
	display: block;
}

/********************* style content**************************/

.content{
	width: 898px;
	height: 500px;
	border: solid 1px #ccc;
	float: left;
	margin-top: 10px;
}

.footer{
	width: 900px;
	height: 100px;
	border-top: 1px solid red;
	margin-top: 10px;
	float: left;
}















 